.add-button
  %h3
    = link_to 'Accounts', accounts_path(@account), class: 'text-decoration-none',
                                                   title: 'View accounts overview'
    %span= "/ #{@account.name}"
  - unless @account.transactions.present?
    .dropdown
      %button#dropdownMenuButton1.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded": "false",
                                                                         "data-bs-toggle": "dropdown",
                                                                         type: "button"}
        Add Transaction
      %ul.dropdown-menu{"aria-labelledby":  "dropdownMenuButton1"}
        %li
          = link_to 'Manual Transaction', new_account_transaction_path(@account), class: 'dropdown-item'
        %li
          = link_to 'Import From OFX', account_ofx_import_path(@account), class: 'dropdown-item'

-if @account.transactions.present?
  %br
  .bg-white.main-box-shadow.default-border-radius.p-3
    .add-button
      %h4= "Transactions (#{@transactions_count})"
      .dropdown
        %button#dropdownMenuButton1.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded": "false",
                                                                           "data-bs-toggle": "dropdown",
                                                                           type: "button"}
          Add Transaction
        %ul.dropdown-menu{"aria-labelledby":  "dropdownMenuButton1"}
          %li
            = link_to 'Manual Transaction', new_account_transaction_path(@account), class: 'dropdown-item'
          %li
            = link_to 'Import From OFX', account_ofx_import_path(@account), class: 'dropdown-item'

    %hr

    #filterAccordion.accordion
      .accordion-item
        %h5#headingOne.accordion-header
          %button.accordion-button{"aria-controls": "collapseOne",
                                   "aria-expanded": "true",
                                   "data-bs-target": "#collapseOne",
                                   "data-bs-toggle": "collapse",
                                   type: "button"}
            Filters
        #collapseOne.accordion-collapse.collapse{"aria-labelledby": "headingOne",
                                                 "data-bs-parent": "#filterAccordion"}
          .accordion-body
            = form_tag account_path(@account), method: :get do
              %div
                = label_tag 'Date Range:', nil, class: 'mt-2'
                %div.d-flex.justify-content-start.gap-3
                  %div
                    = label_tag 'Start:', nil, class: 'mt-2'
                    = date_field_tag 'start_date', @start_date, class: 'form-date form-select-sm'
                  %div
                    = label_tag 'End:', nil, class: 'mt-2'
                    = date_field_tag 'end_date', @end_date, class: 'form-date form-select-sm'
              %div
                = label_tag 'Payment Type:', nil, class: 'mt-3'
                = select_tag 'payment_type',
                             options_for_select([ "All", "Income", "Expense"], @payment_type),
                             class: 'form-select form-select-sm'
              %div
                = label_tag 'Category:', nil, class: 'mt-3'
                = select_tag 'category',
                             options_from_collection_for_select(current_user.categories.order(:name), "id", "name", @category_id),
                             prompt: 'All',
                             class: 'form-select form-select-sm'
              = submit_tag 'Apply', class: 'btn btn-primary btn-sm mt-3'

    %hr

    %table.table.table-hover
      %thead
        %tr
          %th{ scope: 'col' }Date
          %th{ scope: 'col' }Name
          %th{ scope: 'col' }Description
          %th{ scope: 'col' }Category
          %th{ scope: 'col' }Subcategory
          %th.text-right{ scope: 'col' }Amount
          %th.text-right{ scope: 'col' }Balance
          %th.text-right{ scope: 'col' }Action
      %tbody
        - if @transactions.present?
          - @transactions.each do |transaction|
            = render 'transactions/transaction_row', transaction: transaction
        - else
          %tr
            %td.text-center{colspan: 7} (There are no transactions for this selection.)

- else
  %p (There are no transactions yet.)
